@{
    Layout = "";
    @model IList<AdministrativoImperial.Domain.Models.EntityDomain.DiaTrabalhadoDTO>
}

<table id="tabelaDiaTrabalhado" class="table align-items-center mt-2 mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Obra</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Funcionários</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 px-2">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="d-flex px-3 py-1">
                        <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">@item.ObrApelido</h6>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="text-xs font-weight-bold mb-0">@item.DitData.ToString("dd/MM/yyyy")</p>
                </td>
                <td>
                    <p class="text-xs font-weight-bold mb-0">@String.Join(" / ", item.DiaTrabalhadoFuncionarios.Select(x => x.FunNome))</p>
                </td>
                <td class="align-middle">
                    @* <button class="btn btn-border-red" type="button" onclick="ModalDiaTrabalhadoEditar(@item.DitId)" data-toggle="tooltip" data-original-title="Editar Dia Trabalhado">
                        <span class="btn-inner--icon color-red"><i class="fas fa-edit"></i></span>
                    </button> *@
                    <button class="btn btn-border-blue btnExcluir" onclick="ConfirmarExclusao(@item.DitId)" type="button" data-toggle="tooltip" data-original-title="Deletar Dia Trabalhado">
                        <span class="btn-inner--icon color-blue"><i class="fa-solid fa-trash"></i></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>